/*Start padding + border + margin*/

.p-0 {
  padding: 0;
}
.p-10 {
  padding: 10px;
}
.pt-10 {
  padding-top: 10px;
}
.pb-10 {
  padding-bottom: 10px;
}
.p-15 {
  padding: 15px;
}
.pt-15 {
  padding-top: 15px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pl-15 {
  padding-left: 15px;
}
.p-20 {
  padding: 20px;
}
.pt-20 {
  padding-top: 20px;
}
.pb-20 {
  padding-bottom: 20px;
}
.m-0 {
  margin: 0;
}
.mt-0 {
  margin: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.m-5 {
  margin: 5px;
}
.mt-5 {
  margin-top: 5px;
}
.mb-5 {
  margin-bottom: 5px;
}
.m-10 {
  margin: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.m-15 {
  margin: 15px;
}
.mt-15 {
  margin-top: 15px;
}
.mr-15 {
  margin-right: 15px;
}
.mb-15 {
  margin-bottom: 15px;
}
.m-20 {
  margin: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-35 {
  margin-top: 35px;
}
.mt-45 {
  margin-top: 45px;
}
.b-none {
  border: none;
}
.border-ccc {
  border: 1px solid #ccc;
}
.border-eee {
  border: 1px solid #eee;
}

/*End padding+margin*/
/*Start color*/
.c-black {
  color: #000;
}
.c-grey {
  color: #999;
}
.c-white {
  color: white;
}
.c-blue {
  color: #0075ff;
}
.c-orange {
  color: rgb(245, 158, 11);
}
.c-green {
  color: rgba(34, 197, 94);
}
.c-red {
  color: #f44336;
}
.bg-red {
  background-color: #f44336;
}
.bg-green {
  background-color: rgba(34, 197, 94);
}
.bg-blue {
  background-color: #0075ff;
}
.bg-eee {
  background-color: #eee;
}
.bg-white {
  background-color: white;
}
.bg-orange {
  background-color: rgb(245, 158, 11);
}
/*End color*/
/*Start border*/
.rad-6 {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.rad-half {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/*End border*/
/*start position*/
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
/*End Position*/
/*Start Box*/
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.f-wrap {
  flex-wrap: wrap;
}
.d-grid {
  display: grid;
}
.gap-20 {
  gap: 20px;
}
.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}

@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
  .block-mobile {
    display: block;
  }
}
/*End Box*/
/*Start Font*/
.txt-c {
  text-align: center;
}
.txt-d-linethrough {
  text-decoration: line-through;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-25 {
  font-size: 25px;
}
.fw-bold {
  font-weight: bold;
}
@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center;
  }
}
/*End font*/
/*start list*/
.list-none {
  list-style: none;
}
/*end list*/
/* start components */
.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-shape {
  padding: 4px 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
/* end components */
/* start width & Height */
.w-full {
  width: 100%;
}
.w-fit {
  width: fit-content;
}
.h-full {
  height: 100%;
}
.w-100 {
  width: 100px;
}
.h-100 {
  height: 100px;
}
/* end width */
